<!doctype html>
<html>
  <head>
    <meta charset="utf-8">
    <title>{{#resume.basics}}{{name}}{{/resume.basics}} CV</title>
    <meta name="description" content="Curriculum Vitae for Alec Rust, experienced frontend web developer.">
    <meta name="viewport" content="width=device-width, user-scalable=no, minimal-ui">
    <link rel="stylesheet" href="style.min.css">
  </head>
  <body>

    <nav class="Menu" aria-labelledby="primary-menu">
      <p id="primary-menu" class="u-hiddenVisually">CV Menu</p>
      <ul class="Menu-list u-cf">
        <li class="Menu-item">
          <a class="Menu-link" href="alec-rust-cv.pdf">View as PDF</a>
        </li>
        <li class="Menu-item">
          <a class="Menu-link" href="alec-rust-cv.json">View as JSON</a>
        </li>
        <li class="Menu-item">
          <a class="Menu-link" href="https://github.com/AlecRust/cv">View on GitHub</a>
        </li>
        <li class="Menu-item Menu-item--main">
          <a class="Menu-link" href="https://www.alecrust.com/">Main Site &rsaquo;</a>
        </li>
      </ul>
    </nav>

    <header class="Header">
      <div class="Container u-cf">
        <div class="row u-cf">
          <div class="col-sm-9 col-sm-push-3">
            {{#resume.basics}}
            {{#picture}}
            <div class="Avatar">
              <img src="{{.}}" width="140" height="140" alt="Alec Rust" class="Avatar-image">
            </div>
            {{/picture}}
            {{#name}}
            <h1 class="Header-name">
              {{.}}
            </h1>
            {{/name}}
            {{#label}}
            <h2 class="Header-label">
              {{.}}
            </h2>
            {{/label}}
            {{/resume.basics}}
          </div>
        </div>
      </div>
    </header>

    <main id="content" class="Container u-cf">

      {{#resume.basics}}
      <section id="contact" class="Section row u-cf">
        <aside class="col-sm-3">
          <h3>Contact</h3>
        </aside>
        <div class="col-sm-9">
          <div class="row u-cf">
          {{#email}}
          <div class="col-sm-6">
            <strong>Email</strong>
            <div class="email">{{.}}</div>
          </div>
          {{/email}}
          {{#phone}}
          <div class="col-sm-6">
            <strong>Phone</strong>
            <div class="phone">{{.}}</div>
          </div>
          {{/phone}}
          {{#website}}
          <div class="col-sm-6">
            <strong>Website</strong>
            <div class="website">
              <a href="{{.}}">{{.}}</a>
            </div>
          </div>
          {{/website}}
          </div>
        </div>
      </section>
      <section id="about" class="Section row u-cf">
        <aside class="col-sm-3">
          <h3>About</h3>
        </aside>
        <div class="col-sm-9">
        {{#summary}}
          <p>{{.}}</p>
        {{/summary}}
        </div>
      </section>
      {{#if profiles.length}}
      <section id="profiles" class="Section row u-cf">
        <aside class="col-sm-3">
          <h3>Profiles</h3>
        </aside>
        <div class="col-sm-9">
          <div class="row u-cf">
            {{#profiles}}
            <div class="col-sm-4">
              {{#network}}
              <strong class="network">
                {{.}}
              </strong>
              {{/network}}
              {{#if username}}
              <div class="username">
                {{#if url}}
                <div class="url">
                  <a href="{{url}}">{{username}}</a>
                </div>
                {{else}}
                  {{username}}
                {{/if}}
              </div>
              {{else}}
                {{#if url}}
                <div class="url">
                  <a href="{{url}}">{{url}}</a>
                </div>
                {{/if}}
              {{/if}}
            </div>
            {{/profiles}}
          </div>
        </div>
      </section>
      {{/if}}
      {{/resume.basics}}

      {{#if resume.work.length}}
      <section id="work" class="Section row u-cf">
        <aside class="col-sm-3">
          <h3>Work</h3>
        </aside>
        <div class="col-sm-9">
          <div class="row u-cf">
          {{#each resume.work}}
          <div class="col-sm-12">
            <h4 class="strike-through">
              <span>{{company}}</span>
              <span class="date">
                {{friendlyDate startDate}} — {{friendlyDate endDate}}
              </span>
            </h4>
            {{#website}}
            <div class="website u-floatRight">
              <a href="{{.}}">{{.}}</a>
            </div>
            {{/website}}
            {{#position}}
            <div class="position">
              {{.}}
            </div>
            {{/position}}
            {{#summary}}
            <div class="summary">
              <p>{{.}}</p>
            </div>
            {{/summary}}
            {{#if highlights.length}}
            <h4>Highlights</h4>
            <ul class="highlights">
              {{#highlights}}
              <li>{{.}}</li>
              {{/highlights}}
            </ul>
            {{/if}}
          </div>
          {{/each}}
          </div>
        </div>
      </section>
      {{/if}}

      {{#if resume.volunteer.length}}
      <section id="volunteer" class="Section row u-cf">
        <aside class="col-sm-3">
          <h3>Volunteer</h3>
        </aside>
        <div class="col-sm-9">
          <div class="row u-cf">
          {{#each resume.volunteer}}
          <div class="col-sm-12">
            <h4 class="strike-through">
              <span>{{organization}}</span>
              <span class="date">
                {{friendlyDate startDate}} — {{friendlyDate endDate}}
              </span>
            </h4>
            {{#website}}
            <div class="website u-floatRight">
              <a href="{{.}}">{{.}}</a>
            </div>
            {{/website}}
            {{#position}}
            <div class="position">
              {{.}}
            </div>
            {{/position}}
            {{#summary}}
            <div class="summary">
              <p>{{.}}</p>
            </div>
            {{/summary}}
            {{#if highlights.length}}
            <h4>Highlights</h4>
            <ul class="highlights">
              {{#highlights}}
              <li>{{.}}</li>
              {{/highlights}}
            </ul>
            {{/if}}
          </div>
          {{/each}}
          </div>
        </div>
      </section>
      {{/if}}

      {{#if resume.education.length}}
      <section id="education" class="Section row u-cf">
        <aside class="col-sm-3">
          <h3>Education</h3>
        </aside>
        <div class="col-sm-9">
          <div class="row u-cf">
          {{#each resume.education}}
          <div class="col-sm-12">
            <h4 class="strike-through">
              <span>{{institution}}</span>
              <span class="date">
                {{friendlyDate startDate}} — {{friendlyDate endDate}}
              </span>
            </h4>
            {{#area}}
            <div class="area">
              {{.}}
            </div>
            {{/area}}
            {{#studyType}}
            <div class="studyType">
              {{.}}
            </div>
            {{/studyType}}
            {{#if courses.length}}
            <h4>Courses</h4>
            <ul class="courses">
              {{#courses}}
              <li>{{.}}</li>
              {{/courses}}
            </ul>
            {{/if}}
          </div>
          {{/each}}
          </div>
        </div>
      </section>
      {{/if}}

      {{#if resume.awards.length}}
      <section id="awards" class="Section row u-cf">
        <aside class="col-sm-3">
          <h3>Awards</h3>
        </aside>
        <div class="col-sm-9">
          <div class="row u-cf">
          {{#each resume.awards}}
          <div class="col-sm-12">
            <h4 class="strike-through">
              <span>{{title}}</span>
            </h4>
            {{#date}}
            <div class="date u-floatRight">
              <em>Awarded</em>
              {{.}}
            </div>
            {{/date}}
            {{#awarder}}
            <div class="awarder">
              <em>by</em>
              <strong>{{.}}</strong>
            </div>
            {{/awarder}}
            {{#summary}}
            <div class="summary">
              {{.}}
            </div>
            {{/summary}}
          </div>
          {{/each}}
          </div>
        </div>
      </section>
      {{/if}}

      {{#if resume.publications.length}}
      <section id="publications" class="Section row u-cf">
        <aside class="col-sm-3">
          <h3>Publications</h3>
        </aside>
        <div class="col-sm-9">
          <div class="row u-cf">
          {{#each resume.publications}}
          <div class="col-sm-12">
            <h4 class="strike-through">
              <span>{{name}}</span>
              <span class="date">
                {{friendlyDate releaseDate}}
              </span>
            </h4>
            {{#website}}
            <div class="website u-floatRight">
              <a href="{{.}}"></a>
            </div>
            {{/website}}
            {{#publisher}}
            <div class="publisher">
              <em>Published by</em>
              <strong>{{.}}</strong>
            </div>
            {{/publisher}}
            {{#summary}}
            <div class="summary">
              <p>{{.}}</p>
            </div>
            {{/summary}}
          </div>
          {{/each}}
          </div>
        </div>
      </section>
      {{/if}}

      {{#if resume.skills.length}}
      <section id="skills" class="Section row u-cf">
        <aside class="col-sm-3">
          <h3>Skills</h3>
        </aside>
        <div class="col-sm-9">
          <div class="row u-cf">
          {{#each resume.skills}}
          <div class="col-sm-6">
            {{#name}}
            <div class="name">
              <h4>{{.}}</h4>
            </div>
            {{/name}}
            {{#if keywords.length}}
            <ul class="keywords">
              {{#keywords}}
              <li>{{.}}</li>
              {{/keywords}}
            </ul>
            {{/if}}
          </div>
          {{/each}}
          </div>
        </div>
      </section>
      {{/if}}

      {{#if resume.languages.length}}
      <section id="languages" class="Section row u-cf">
        <aside class="col-sm-3">
          <h3>Languages</h3>
        </aside>
        <div class="col-sm-9">
          <div class="row u-cf">
          {{#each resume.languages}}
          <div class="col-sm-6">
            {{#language}}
            <div class="language">
              <strong>{{.}}</strong>
            </div>
            {{/language}}
            {{#fluency}}
            <div class="fluency">
              {{.}}
            </div>
            {{/fluency}}
          </div>
          {{/each}}
          </div>
        </div>
      </section>
      {{/if}}

      {{#if resume.interests.length}}
      <section id="interests" class="Section row u-cf">
        <aside class="col-sm-3">
          <h3>Interests</h3>
        </aside>
        <div class="col-sm-9">
          <div class="row u-cf">
          {{#each resume.interests}}
          <div class="col-sm-6">
            {{#name}}
            <div class="name">
              <h4>{{.}}</h4>
            </div>
            {{/name}}
            {{#if keywords.length}}
            <ul class="keywords">
              {{#keywords}}
              <li>{{.}}</li>
              {{/keywords}}
            </ul>
            {{/if}}
          </div>
          {{/each}}
          </div>
        </div>
      </section>
      {{/if}}

      {{#if resume.references.length}}
      <section id="references" class="Section row u-cf">
        <aside class="col-sm-3">
          <h3>References</h3>
        </aside>
        <div class="col-sm-9">
          <div class="row u-cf">
          {{#each resume.references}}
          <div class="col-sm-12">
            {{#if reference}}
            <blockquote class="reference">
              <p>{{reference}}</p>
              {{#name}}
              <p class="name">
                <strong>— {{.}}</strong>
              </p>
              {{/name}}
            </blockquote>
            {{/if}}
          </div>
          {{/each}}
          </div>
        </div>
      </section>
      {{/if}}

    </main>

    <script>
      window.ga=function(){ga.q.push(arguments)};ga.q=[];ga.l=+new Date;
      ga('create','UA-3217267-26','auto');ga('send','pageview')
    </script>
    <script src="https://www.google-analytics.com/analytics.js" async defer></script>

  </body>
</html>
