<html lang="en-GB">
  <head>
    <meta charset="utf-8" />
    <title>Alec Rust CV</title>
    <meta name="description" content="{{resume.basics.summary}}" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta property="og:type" content="website" />
    <meta property="og:title" content="Alec Rust CV" />
    <meta property="og:locale" content="en-GB" />
    <meta property="og:description" content="{{resume.basics.summary}}" />
    <meta property="og:image" content="https://cv.alecrust.com/alec-rust.jpg" />
    <meta property="og:image:alt" content="Photo of Alec Rust" />
    <meta property="og:url" content="https://cv.alecrust.com/" />
    <link rel="stylesheet" href="style.min.css" />
    <link rel="icon" href="favicon.svg" type="image/svg+xml" />
  </head>
  <body>
    <nav class="Menu">
      <ul class="Menu-list u-cf">
        <li class="Menu-item">
          <a class="Menu-link" href="alec-rust-cv.pdf">View as PDF</a>
        </li>
        <li class="Menu-item">
          <a class="Menu-link" href="alec-rust-cv.json">View as JSON</a>
        </li>
        <li class="Menu-item">
          <a class="Menu-link" href="https://github.com/AlecRust/cv">View on
            GitHub</a>
        </li>
        <li class="Menu-item Menu-item--main">
          <a class="Menu-link" href="https://www.alecrust.com/">Main Site
            &rsaquo;</a>
        </li>
      </ul>
    </nav>

    <header class="Header">
      <div class="Container">
        {{#with resume.basics}}
          {{#if picture}}
            <div class="Avatar">
              <img
                src="{{picture}}"
                width="140"
                height="140"
                alt="Photo of Alec Rust"
                class="Avatar-image"
              />
            </div>
          {{/if}}
          {{#if name}}
            <h1 class="Header-name">{{name}}</h1>
          {{/if}}
          {{#if label}}
            <h2 class="Header-label">{{label}}</h2>
          {{/if}}
          {{#if location}}
            <p class="Header-labelSecondary">
              {{#if location.city}} {{location.city}}, {{/if}}
              {{#if location.countryCode}} {{location.countryCode}} {{/if}}
            </p>
          {{/if}}
        {{/with}}
      </div>
    </header>

    <main class="Container">

      {{#with resume.basics}}
        <section class="Section">
          <h2 class="Section-heading">Contact</h2>
          <div class="Section-content">
            <ul class="LabelledList">
              {{#if email}}
                <li class="LabelledList-item">
                  <p class="u-textBold">Email</p>
                  <a href="mailto:{{email}}">{{email}}</a>
                </li>
              {{/if}}
              {{#if phone}}
                <li class="LabelledList-item">
                  <p class="u-textBold">Phone</p>
                  <p>{{phone}}</p>
                </li>
              {{/if}}
              {{#if website}}
                <li class="LabelledList-item">
                  <p class="u-textBold">Website</p>
                  <a href="{{website}}">{{website}}</a>
                </li>
              {{/if}}
            </ul>
          </div>
        </section>
        <section class="Section">
          <h2 class="Section-heading">About</h2>
          <div class="Section-content">
            {{#if summary}}
              <p>{{summary}}</p>
            {{/if}}
          </div>
        </section>
        {{#if profiles.length}}
          <section class="Section">
            <h2 class="Section-heading">Profiles</h2>
            <div class="Section-content">
              <ul class="LabelledList">
                {{#each profiles}}
                  <li class="LabelledList-item">
                    {{#if network}}
                      <p class="u-textBold">{{network}}</p>
                    {{/if}}
                    {{#if username}}
                      {{#if url}}
                        <a href="{{url}}">{{username}}</a>
                      {{else}}
                        <p>{{username}}</p>
                      {{/if}}
                    {{else}}
                      {{#if url}}
                        <a href="{{url}}">{{url}}</a>
                      {{/if}}
                    {{/if}}
                  </li>
                {{/each}}
              </ul>
            </div>
          </section>
        {{/if}}
      {{/with}}

      {{#if resume.work.length}}
        <section class="Section">
          <h2 class="Section-heading">Work</h2>
          <div class="Section-content">
            {{#each resume.work as |work|}}
              <div class="u-mb30">
                <div class="StrikeHeading u-mb10">
                  <h3 class="StrikeHeading-heading">{{work.company}}</h3>
                  <div class="StrikeHeading-line"></div>
                  <p class="StrikeHeading-asideContent">
                    <time datetime="{{work.startDate}}">{{friendlyDate
                        work.startDate
                      }}</time>
                    -
                    <time datetime="{{work.endDate}}">{{friendlyDate
                        work.endDate
                      }}</time>
                  </p>
                </div>
                <div class="u-sideBySide u-mb10">
                  {{#if work.position}}
                    <p class="u-textBold">{{work.position}}</p>
                  {{/if}}
                  {{#if work.website}}
                    <a href="{{work.website}}">{{work.website}}</a>
                  {{/if}}
                </div>
                {{#if work.summary}}
                  <div class="u-mb10">
                    <p>{{work.summary}}</p>
                  </div>
                {{/if}}
                {{#if work.highlights.length}}
                  <h4 class="u-mb10">Highlights</h4>
                  <ul class="u-bulletedList">
                    {{#each work.highlights as |highlight|}}
                      <li>{{highlight}}</li>
                    {{/each}}
                  </ul>
                {{/if}}
              </div>
            {{/each}}
          </div>
        </section>
      {{/if}}

      {{#if resume.skills.length}}
        <section class="Section">
          <h2 class="Section-heading">Skills</h2>
          <div class="Section-content">
            {{#each resume.skills as |skill|}}
              <div>
                {{#if skill.name}}
                  <p class="u-textBold u-mb10">{{skill.name}}</p>
                {{/if}}
                {{#if skill.keywords.length}}
                  <ul class="u-bulletedList u-mb10">
                    {{#each skill.keywords as |keyword|}}
                      <li>{{keyword}}</li>
                    {{/each}}
                  </ul>
                {{/if}}
              </div>
            {{/each}}
          </div>
        </section>
      {{/if}}

    </main>
  </body>
</html>